//@theme "/usr/share/rofi/themes/gruvbox-dark.rasi"
//@theme "/home/alan/.local/share/rofi/themes/squared-everforest.rasi"
//@theme "/usr/share/rofi/themes/Arc-Dark.rasi"
//@theme "nord"
//@theme "/usr/share/rofi/themes/gruvbox-dark.rasi"
//@theme "/usr/share/rofi/themes/gruvbox-dark.rasi"
//@theme "/home/alan/.local/share/rofi/themes/catppuchin-macchiato.rasi"
//@theme "/usr/share/rofi/themes/Adapta-Nokto.rasi"
@theme "/home/alan/.config/rofi/catppuchin-macchiato.rasi"
